#but{

    border-radius: 0%;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
/* .fixme{
    display: flex;
} */
.img-square-wrapper{
    width:130px;
}
/* img {
    border-radius: 50%;
} */
/* #bottombor{
    border-style: solid;
    border-width: medium;
} */

/* html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
} */

#down {
    margin-top: 25px;
    /* padding-bottom: 25%; */
}
/* #dd{margin: auto;} */